@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto-Condensed-Light'), url('Roboto-Condensed-Light.woff2') format('woff2'), url('Roboto-Condensed-Light.woff') format('woff'),
    url('Roboto-Condensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}